/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chewy&family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background: url('/pontesbg.png') center/cover no-repeat fixed;
    margin: 0;
    min-height: 100vh;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Tela total */

.pontes {
    display: flex;
    height: 100vh;
}

.pesos, .principal, .papel {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/* Linhas */

.pesos {
    justify-content: flex-end;
    margin-bottom: 4vh;
}

.linhas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 4vh;
}

.linha {
    display: flex;
}

.esquerda, .meio, .direita {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
  background: #006494;
  color: #fff;
  box-shadow: rgba(0,0,0,.1) 0 0.6vh 1.6vh;
  font-family: "Lexend Deca", sans-serif;
  width: 18vh;
  height: 3vh;
  margin: 0vh 0.3vh -5vh;
  border-radius: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.5;
  max-width: none;
  outline: none;
  overflow: hidden;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 2.2vh;
}

#tipo {
  background: #041F64;
  font-size: 1.6vh;
  white-space: nowrap;
}

/* Principal */
.principal {
    color: #fff;
    text-align: center;
    gap: 4vh;
    align-items: center;
    justify-content: space-between;
}

.principal h2 {
    font-size: 6vh;
    font-family: Chewy;
    margin: 3vh 0 1.5vh;
}

.principal h3 {
    font-size: 3.5vh;
    font-family: Chewy;
    text-decoration: underline;
}

.status h3 {
    font-size: 3.5vh;
    text-decoration: none;
}

.circulo {
    width: 38vh;
    height: 38vh;
    background: linear-gradient(180deg, #1CB5E0 0%, #000851 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo h2 {
    font-family: Chewy;
    font-size: 22vh;
    text-align: center;
}

.status {
    width: 100%;
    height: 20vh;
    background: url("/ponte.png") center/contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status h3 {
    margin-bottom: 1.5vh;
}

/* Papel */
.papel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url('/papel.png') center/cover;
    width: 100%;
    height: 100vh;
}

.apoio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    margin-right: 2vh;
}

.apoiotexto {
    font-family: "Bebas Neue";
    font-size: 3.5vh;
    margin-right: 2vh;
    color: #fff;
}

.apoio img {
    width: 12vh;
    height: 12vh;
}

.cargas,
.apoio,
.icones {
    flex: 1;
    display: flex;
}

.icones {
    justify-content: end;
    flex-direction: row;
    gap: 1.5vh;
    margin: 1.5vh 1.5vh 0 0;
}

.icones img {
    width: 9vh;
    height: 9vh;
}

.cargas {
    flex-direction: column;
    align-items: end;
    font-family: "Bebas Neue";
    justify-content: center;
    gap: 3vh;
    font-size: 4.7vh;
    text-align: center;
    margin-right: 1.5vh;
    color: white;
}

/* Estimadas */

.button-31:hover,
.button-31:focus {
  opacity: .75;
}